<ion-modal [canDismiss]="canDismiss" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss(null, 'cancel')" (keydown.enter)="modal.dismiss(null, 'cancel')">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-title>Rit Create</ion-title>
        <ion-buttons slot="end">
          <ion-button [disabled]="isDisabled" (click)="confirm()" (keydown.enter)="confirm()"
            [strong]="true">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ng-content></ng-content>
    </ion-content>
  </ng-template>
</ion-modal>