@if ((isLoggedIn$ | async) && buttons.length!=0) {
  <ion-fab data-testid="rit-create-button" horizontal="end"
    slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      @for (button of buttons; track button; let i = $index) {
        <ion-fab-button (click)="button.action()" (keydown.enter)="button.action()"
          >
          <ion-icon name="{{button.icon}}"></ion-icon>
        </ion-fab-button>
      }
    </ion-fab-list>
  </ion-fab>
}

