.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag-input:focus-within {
  border-bottom: 2px solid var(--ion-color-primary);
}

ion-chip {
  white-space: nowrap;
}

.tag-input {
  flex: 1 1 150px;
  margin-left: 1vw;
}