<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <form (ngSubmit)="login()" [formGroup]="form">
    <ion-input formControlName="email" label="Email" ngModel type="email"></ion-input>
    @if (loginErrorFields['email']) {
      <ion-text color="danger">
        @for (message of loginErrorFields['email']; track message) {
          <p>{{ message }}</p>
        }
      </ion-text>
    }
    <ion-input formControlName="password" label="Password" ngModel type="password"></ion-input>
    @if (loginErrorFields['password']) {
      <ion-text color="danger">
        @for (message of loginErrorFields['password']; track message) {
          <p>{{ message }}</p>
        }
      </ion-text>
    }
    <ion-button [disabled]="!form.valid" type="submit">Submit</ion-button>
    <ion-button (click)="register()" (keydown.enter)="register()">Register</ion-button>
    <ion-ripple-effect></ion-ripple-effect>

  </form>
</ion-content>
