<ion-header>
  <ion-toolbar>
    <ion-title>Build Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h2>Frontend</h2>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>Short Hash</ion-label>
      <ion-note>{{ version.shortHash }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Hash</ion-label>
      <ion-note>{{ version.hash }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Commit</ion-label>
      <ion-note>{{ version.subject }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Committer</ion-label>
      <ion-note>{{ version.committer.name }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Commit Time</ion-label>
      <ion-note>{{ version.committedOn | date: 'full' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Branch</ion-label>
      <ion-note>{{ version.branch }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-text>
    <h2>Backend</h2>
  </ion-text>
  <ion-text *ngIf="backend==null">Backend is not available</ion-text>
  <ion-list *ngIf="backend!=null">

    <ion-item>
      <ion-label>Short Hash</ion-label>
      <ion-note>{{ backend.git.commit.id.abbrev }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Full Hash</ion-label>
      <ion-note>{{ backend.git.commit.id.full }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Commit</ion-label>
      <ion-note>{{ backend.git.commit.message.full }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Committer</ion-label>
      <ion-note>{{ backend.git.commit.user.name }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Commit Time</ion-label>
      <ion-note>{{ backend.git.commit.time | date: 'full' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Branch</ion-label>
      <ion-note>{{ backend.git.branch }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Build Time</ion-label>
      <ion-note>{{ backend.build.time | date: 'full' }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>