<div class="list-item-card ion-margin-bottom">
  <div class="content">
    <div class="header-row ion-margin-bottom">
      <ion-label>
        <h2 class="title">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="auto" *ngFor="let star of [1,2,3,4,5]; let i = index;">
                <ion-icon class="rating-star" [class.filled]="isBelowRating(i)" [name]="isBelowRating(i)? 'star' : 'star-outline'"/>
              </ion-col>
            </ion-row>
          </ion-grid>
        </h2>
      </ion-label>
      <ion-text color="medium">{{formatRelativeTime(rating.updatedAt)}}</ion-text>
    </div>
    <div class="rating-positive ion-margin-bottom">
      <ion-label *ngIf="rating.positiveComment">Positive: </ion-label>
      <ion-text>{{rating.positiveComment}}</ion-text>
    </div>
    <div class="rating-negative">
      <ion-label *ngIf="rating.negativeComment">Negative: </ion-label>
      <ion-text >{{rating.negativeComment}}</ion-text>
    </div>
  </div>
</div>
