<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!registrationSuccess" class="ion-padding" scroll-y="false">
  <form (ngSubmit)="register()" [formGroup]="form">
    <ion-input formControlName="email" label="Email" type="email"></ion-input>

    <ion-text *ngIf="registrationErrorFields['email']" color="danger">
      <p *ngFor="let message of registrationErrorFields['email']">{{ message }}</p>
    </ion-text>
    <ion-input formControlName="displayName" label="Display-Name" type="text"></ion-input>

    <ion-text *ngIf="registrationErrorFields['displayName']" color="danger">
      <p *ngFor="let message of registrationErrorFields['displayName']">{{ message }}</p>
    </ion-text>
    <ion-input formControlName="password" label="Password" type="password"></ion-input>

    <ion-text *ngIf="registrationErrorFields['password']" color="danger">
      <p *ngFor="let message of registrationErrorFields['password']">{{ message }}</p>
    </ion-text>
    <ion-button [disabled]="!form.valid" type="submit">Submit</ion-button>
    <ion-ripple-effect></ion-ripple-effect>
  </form>
</ion-content>
<ion-content *ngIf="registrationSuccess" class="ion-padding" scroll-y="false">
  <ion-text>
    <p>Registration successful.</p>
  </ion-text>
  <ion-text>
    <p>You will receive an email to verify your account shortly.</p>
  </ion-text>
</ion-content>
