<ion-header>
  <ion-toolbar>
    <ion-title>Rits</ion-title>
  </ion-toolbar>
</ion-header>
<div class="ion-padding" scroll-y="false">
  <div>
    <ion-searchbar [(ngModel)]="searchText" (ionChange)="onSearchChange($event)" placeholder="Search..." class="searchbar"></ion-searchbar>

    <div class="tags-input-container">
      <ion-label>Tags:</ion-label>
      <div class="tags-container">
        <ng-container *ngIf="selectedTags.length === 0">
          <ion-chip color="primary">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>All</ion-label>
          </ion-chip>
        </ng-container>
        <ion-chip color="primary" *ngFor="let tag of selectedTags" (click)="removeTagFromFilter(tag)" (keypress)="removeTagFromFilter(tag)">
          <ion-icon name="pricetag-outline"></ion-icon>
          <ion-label>{{ tag }}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
        <ion-chip *ngIf="selectedTags.length > 1" color="medium" (click)="clearTagFilter()" (keypress)="clearTagFilter()">
          <ion-label>Clear</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      </div>
    </div>
  </div>
</div>
<ion-content class="ion-padding-horizontal" scroll-y="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <app-rit-list-item *ngFor="let rit of filteredRits()" [rit]="rit" [onTagClick]="handleTagClick">
    </app-rit-list-item>
  </ion-list>
</ion-content>

<app-fab-integration></app-fab-integration>