.ratingButton {
  --border-radius: 10px;

  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-end: 10px;
  --padding-start: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70px;
  min-width: 70px;

  /* This ensures the text stays the specified color regardless of the button color */
  &::part(native) {
    color: var(--ion-background-color) !important;
  }
}

.ratingButton ion-icon.centered {
  margin: 0 auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-width: calc(100% - 80px); /* Adjust based on button size */
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.list-item-card {
  cursor: pointer;
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  background-color: var(--ion-color-light-shade);
  --background: var(--ion-color-light-shade);
}

.tags-container {
  display: flex;
  max-height: 100px;
  flex-wrap: wrap;
  align-items: center;
}

.tags-content {
  display: flex;
  overflow: hidden;
  max-width: calc(100% - 40px);
}

.tag-chip {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
}

.tag-chip ion-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-chip ion-icon {
  flex-shrink: 0;
}

.tags-ellipsis {
  padding-left: 8px;
}

ion-chip:first-child {
  margin-left: 0;
}

ion-item {
  --inner-padding-end: 0px;
  border-radius: 20px;
}

ion-item-option {
  border-radius: 20px;
  padding: 15px;
}

ion-item-options {
  border: 0;
}
