<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rating</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let star of [1,2,3,4,5]; let i = index" [class]="rating > 3 ? 'star-green' : (rating < 3 ? 'star-red' : 'star-orange')"
                   size="auto">
            <ion-icon (click)="setRating(i + 1)" (keydown.enter)="setRating(i + 1)" [class.filled]="i < rating"
                      [name]="i < rating ? 'star' : 'star-outline'" class="rating-star">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Positive</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea (ionInput)="setPositiveComment($event)" [autoGrow]="true" [value]="positiveComment" fill="outline"
                    label="Enter Pros" labelPlacement="floating" placeholder="Enter text">
      </ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Negative</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea (ionInput)="setNegativeComment($event)" [autoGrow]="true" [value]="negativeComment" fill="outline"
                    label="Enter Cons" labelPlacement="floating" placeholder="Enter text">
      </ion-textarea>
    </ion-card-content>
  </ion-card>

</ion-content>
