.rating-star {
    font-size: 32px;
    margin: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: var( --custom-color-accent);
  
    &.filled {
      color: var( --custom-color-accent);
    }
  
    &:hover {
      transform: scale(1.2);
    }
  }
  