<div>
  <div>
    @for (tag of selectedTags; track tag) {
      <ion-chip (click)="navigateToTag(tag, $event)" (keydown.enter)="navigateToTag(tag, $event)"
        color="primary"
        >
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>{{ tag }}</ion-label>
        @if (!disabled) {
          <ion-icon (click)="removeTag(tag)" (keydown.enter)="removeTag(tag)"
          name="close"></ion-icon>
        }
      </ion-chip>
    }
  </div>

  @if (!disabled) {
    <div>
      <ion-input #tagInput (ionChange)="addNewTag(tagInput, 'enter')" (ionInput)="filterTags()" [(ngModel)]="newTag"
        data-testid="new-tag-input" placeholder="Search or add new tag">
      </ion-input>
      <div>
        @for (tag of filteredTags | slice:0:10; track tag) {
          <ion-chip (click)="selectTag(tag)" (keydown.enter)="selectTag(tag)" color="medium"
            outline="true">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>{{ tag }}</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </ion-chip>
        }
      </div>
    </div>
  }
</div>
